.contact input{
    outline: none;
}

.contact input::placeholder {
    color: #333;
 }

 .contact textarea::placeholder {
    color: #333;
 }

 .contact input:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 3px white;
  }

  .contact textarea:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: solid 3px white;
  }
 